#center {
	background-color: MediumSlateBlue;
	color: black;
}

#one {
	color: "MediumPurple";
}

#two {
	color: "MediumSlateBlue";
}

#three {
	color: "MediumSeaGreen";
}

#four {
	color: "MediumTurquoise";
}